<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune Tiger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Fortune Tiger</h1>
        <div class="text-center">
            <form id="startGameForm" action="{{ url_for('start_game') }}" method="post">
                <label for="saldo">Digite o valor do saldo:</label>
                <input type="number" id="saldo" name="saldo" class="form-control w-50 mx-auto" placeholder="Saldo inicial" required>
                <button class="btn btn-primary mt-3" type="submit">Iniciar Jogo</button>
            </form>
        </div>
        <div id="gameOptions" class="mt-5" style="display: none;">
            <h2>Escolha uma opção:</h2>
            <div class="list-group">
                <button class="list-group-item list-group-item-action" id="fortuneTiger">1 - Fortune Tiger</button>
                <button class="list-group-item list-group-item-action" id="fogueteDaSorte">2 - Foguete da Sorte</button>
                <button class="list-group-item list-group-item-action" id="jokenpo">3 - Jokenpo</button>
                <button class="list-group-item list-group-item-action" id="exportResults">5 - Exportar Resultados</button>
                <button class="list-group-item list-group-item-action" id="compareResults">6 - Comparar Resultados</button>
                <button class="list-group-item list-group-item-action text-danger" id="exitGame">4 - Sair</button>
            </div>
        </div>
        <div id="gameResult" class="mt-5" style="display: none;">
            <h2>Resultado:</h2>
            <p id="resultMessage"></p>
            <p id="currentSaldo"></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>